a{
    text-decoration: none;
    display: inline-block;
}
nav{
    padding: 40px 0;
}
nav .image .imageone img{
    background-image: url(../image/logobg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
}
nav .image{
    display: flex;
}
nav .nav-item {
    color: #272727 !important;
    font-size: 20px;
    font-weight: medium;
    font-family: "Poppins", serif;
}
nav .nav-item .nav-link i{
    color: #39DB4A !important;
}
nav .nav-item .active{
    color: #39DB4A !important;
}
nav .search {
    align-items: center;
    
}
nav .search i{
    color: #272727!important;
    
}
nav .search a{
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    background: #39DB4A;
    padding: 15px 27px;
    font-size: 20px;
    font-weight: medium;
    font-family: "Poppins", serif;
    border-radius: 40px;
    font-size: 20px;
}
nav .search a i{
   padding-right: 8px;
   color: #FFFFFF !important;
}
/* banner part start */
.banner-part{
    padding: 100px 0;

}
.banner-part h1{
    font-size: 62px;
    color: #000000;
    font-weight: 800;
    font-family: "Inter", serif;
    line-height: 145%;
    width: 550px;
}
.banner-part h1 span{
    color: #39DB4A;
}
.banner-part p{
    font-size: 26px;
    color: #4A4A4A;
    font-weight: 500;
    font-family: "Inter", serif;
    padding: 40px 0;
}
.banner-part .button .btnone{
    color: #FFFFFF;
    font-size: 26px;
    background: #39DB4A;
    font-weight: 600;
    font-family: "Inter", serif;
    padding: 15px 30px;
    border-radius: 40px;
    border: 1px solid transparent;
}
.banner-part .button .btnone:hover{
    background: #FFFFFF;
    color: #39DB4A;
    border: 1px solid #ddd;
}
.banner-part .button {
    align-items: center;
    column-gap: 30px;
}
.banner-part .button .btntwo{
    color: #4A4A4A;
    font-size: 26px;
    font-family: "Inter", serif;
    font-weight: 600;
}
.banner-part .button .btnthree{
    color: #4A4A4A;
    font-size: 26px;
    font-family: "Inter", serif;
    font-weight: 600;
    padding: 10px 19px;
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.banner-part .button .btnthree:hover{
    background: #39DB4A;
    color: #FFFFFF;
}
.banner-part .main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.banner-part .circle{
    width: 400px;
    height: 400px;
    background: #39DB4A;
    border-radius: 50%;
    position: relative;
}
.banner-part .circle .image {
    width: 400px;
    height: 500px;
    position: absolute;
    top: -96px;
    left: -9px;
}
.banner-part .circle .image img{
    width: 100%;
    height: 100%;
}
.banner-part .cardone {
    display: flex;
    column-gap: 15px;
    border: 1px solid #ddd;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 25px;
    position: absolute;
    top: 358px;
    left: -73px;
}
.banner-part .cardone .imageone{
    width: 65px;
    height: 75px;
    border-radius: 10px;
}
.banner-part .cardone .imageone img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.banner-part .cardone h6{
    color: #2C2C2C;
    font-size: 18px;
    font-family: "Inter", serif;
    font-weight: 600;
}
.banner-part .cardone h6 span{
    color: #FF7979;
    font-size: 14px;
}
.banner-part .cardone .rate i:nth-child(-n+3){
    color: #FFE605;
}
.banner-part .cardone .rate i{
    font-size: 16px;
}
.banner-part .cardtwo {
    display: flex;
    column-gap: 15px;
    border: 1px solid #ddd;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 22px;
    border-radius: 25px;
    position: absolute;
    top: 358px;
    right: -64px;
}
.banner-part .cardtwo .imageone{
    width: 65px;
    height: 75px;
    border-radius: 10px;
}
.banner-part .cardtwo .imageone img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.banner-part .cardtwo h6{
    color: #2C2C2C;
    font-size: 18px;
    font-family: "Inter", serif;
    font-weight: 600;
}
.banner-part .cardtwo h6 span{
    color: #FF7979;
    font-size: 14px;
}
.banner-part .cardtwo .rate i:nth-child(-n+4){
    color: #FFE605;
}
.banner-part .cardtwo .rate i{
    font-size: 16px;
}
.banner-part .message {
    background: #FFFFFF;
    height: 67px;
    padding: 0 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 1px;
    left: -64px;
    display: flex;
    align-items: center;
}
.banner-part .message p{
   font-size: 20px;
   color: #FF7979; 
}

.banner-part .message::after{
    content: "";
    position: absolute;
    bottom: -5px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    rotate: -30deg;
}
/* banner part end */
/* popular part start */
.popular{
    padding: 50px 0;
}
.popular .header{
    text-align: center;
}
.popular .header h4{
    color: #FF7979;
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 700;
    letter-spacing: 17.5%;
}
.popular .header h2{
    color: #000000;
    font-size: 60px;
    font-family: "Inter", serif;
    font-weight: 700;
    padding-top: 28px;
    padding-bottom: 60px;
}
.popular .card-part{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    
}
.popular .card-part .card{
    width: 220px;
    padding: 10px 0;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.popular .card-part .card h5{
    color: #1E1E1E;
    font-size: 30px;
    font-family: "Inter", serif;
    font-weight: 600;
}
.popular .card-part .card p{
    color: #555555;
    font-size: 22px;
    font-family: "Inter", serif;
    font-weight: 500;
}
.popular .card-part .card .image{
    width: 120px;
    height: 120px;
    background: #C1F1C6;
    border-radius: 50%;
    margin: 0 auto;
}
.popular .card-part .card .image img{
    padding: 7px;
    width: 80%;
    height: 80%;
}

/* popular part end */
/* dishes part start */
.dishes{
    padding: 50px 0;
    position: relative;
}
.dishes h6{
    color: #FF7979;
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 700;
    letter-spacing: 17.5%;
}
.dishes h3{
    color: #000000;
    font-size: 60px;
    font-family: "Inter", serif;
    font-weight: 700;
    line-height: 131%;
    width: 50%;
}
.dishes .slide{
    display: flex;
    gap: 30px;
    position: absolute;
    right: 150px;
    top: 145px;
}
.dishes .slide i:first-child{
    background: #EFEFEF;
    padding: 14px 16px;
    border-radius: 50%;
}
.dishes .slide i:last-child{
    background: #39DB4A;
    padding: 14px 16px;
    border-radius: 50%;
    color: #FFFFFF;
}
.dishes .card-part {
    padding-top: 30px; 
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
}
.dishes .card-part .card{
    width: 320px;  
    border-radius: 40px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    position: relative;
}
.dishes .card-part .card .info{
    display: flex;
    justify-content: space-between;    
}
.dishes .card-part .card .info i{
   padding-right: 8px; 
   color: #FFE605;   
}
.dishes .card-part .card h5{
    color: #000000;
    font-size: 24px;
    font-family: "Inter", serif;
    font-weight: 600;
    padding-bottom: 10px;
}
.dishes .card-part .card h5 span{
    font-size: 16px;
    color: #FF7979;
}
.dishes .card-part .card p{
    color: #555555;
    font-size: 18px;
    font-family: "Inter", serif;
    font-weight: 600;
    line-height: 131%; 
}
.dishes .card-part .card .image{
    width: 190px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 15px;
}
.dishes .card-part .card .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.dishes .card-part .card .feedback{
    width: 60px;
    height: 60px;
    background: #39DB4A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 35px 0 35px;
}
.dishes .card-part .card .feedback i{
  font-size: 20px;
  color: #FFFFFF;
}
/* dishes part end */
/* customer part start */
.customer{
    padding: 80px 0;
}
.customer .left{
   width: 350px;
   height: 250px;
   background: #39DB4A;
   margin: 0 auto;
   margin-top: 150px;
   border-radius: 50% 50% 5% 5%;
   position: relative;
}
.customer .left .image{
   width: 300px;
   height: 450px;
   position: absolute;
   left: 10px;
   bottom: 0;
}
.customer .left .image img{
   width: 100%;
   height: 100%;
  
}
.customer .left .message p {
    color: #202020;
    font-size: 18px;
    font-family: "Inter", serif;
    font-weight: 600;
    position: absolute;
    bottom: -25px;
    right: -47px;
    background: #FFFFFF;
    padding: 8px 15px;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.customer .left .emoji{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 97px;
}
.customer .right h6{
    color: #FF7979;
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 700;
    letter-spacing: 17.5%;
}
.customer .right h2{
    color: #000000;
    font-size: 58px;
    font-family: "Inter", serif;
    font-weight: 700;
    line-height: 120%;
    padding-top: 30px;
    padding-bottom: 25px;
}
.customer .info{
    display: flex;
    column-gap: 130px;
    padding-top: 15px;
}
.customer .info .image{
    position: relative;
}
.customer .info .image img{
    width: 70px;
    height: 70px;

}
.customer .info .image .img2{
    position: absolute;
    left: 40px;
}
.customer .info .image .img3{
    position: absolute;
    left: 80px;
}
.customer .info h3{
    color: #000000;
    font-size: 22px;
    font-family: "Inter", serif;
    font-weight: 700;
}
.customer .info p{
    color: #807E7E;
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 600;
}
.customer .info p span{
    color: #454545;
    padding-right: 10px;
}
.customer .info p span i{
    font-size: 16px;
    padding-right: 8px;
    color: #FFE605;
}
/* customer part end */
/* service part start */
.service{
    padding: 80px 0;
}
.service h6{
    color: #FF7979;
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 700;
    letter-spacing: 17.5%;
}
.service h2{
    color: #000000;
    font-size: 54px;
    font-family: "Inter", serif;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 25px;
}
.service p{
    color: #555555;
    font-size: 22px;
    font-family: "Inter", serif;
    font-weight: 600;
    line-height: 150%;
    padding-bottom: 40px;
}
.service a{
    background: #39DB4A;
    color: #FFFFFF;
    font-size: 23px;
    font-family: "Inter", serif;
    font-weight: 600;
    padding: 18px 40px;
    border-radius: 30px;
}
.service .card-part{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}
.service .card-part .card-info{
    width: 40%;
    height: 220px;
    text-align: center;
    box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 12px;
}
.service .card-part .card-info h3{
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
    font-family: "Inter", serif;
    color: #5FE26C;
}
.service .card-part .card-info p{
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", serif;
    color: #90BD95;
}
/* service part end */
/* footerhead part start */
.footer{
    padding: 50px 0;
}
.footer .image .imageone img{
    background-image: url(../image/logobg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
}
.footer .image{
    display: flex;
}
.footer p{
    width: 53%;
    padding-top: 37px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", serif;
    line-height: 150%;
}
.footer h5{
    font-size: 22px;
    color: #000000;
    font-family: "Inter", serif;
    font-weight: 600;
    padding-bottom: 15px;
}
.footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.footer ul li{
    font-size: 18px;
    color: #555555;
    font-family: "Inter", serif;
}
/* footerhead part end */
/* footer part start */
footer{
    padding-bottom: 40px;
}
footer ul{
    display: flex;
    column-gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul li{
    font-size: 20px;
    color: #484848;
    background: #EDFFEF;
    padding: 4px 10px;
    border-radius: 50%;
}
footer ul li:first-child{
    color: white;
    background: #39DB4A;
}
footer p{
    font-size: 18px;
    color: #555555;
    font-family: "Inter", serif;
}
/* footer part end */